-f https://download.pytorch.org/whl/cu117
torch==1.13.1
torchmetrics
tqdm
pillow
opencv-python
pandas
lpips
imageio
scikit-image
nerfacc==0.5.0
ninja
tensorboard
matplotlib
# manually install tiny-cuda-nn:
# git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
